@use "sass:color";

@import "../lib/bootstrap/scss/_functions.scss";

@import "../lib/bootstrap/scss/_variables.scss";
@import "../lib/bootstrap/scss/_variables-dark.scss";

/* Bootstrap variable override
    uncomment and set bootstrap colors.
*/

$primary: #101010;
$secondary: #101010;
$tertiary: #101010;
$info: #101010;
$success: #101010;
$danger: #101010;
$warning: #101010;
$theme-colors: ("primary": $primary, "secondary": $secondary, "tertiary": $tertiary, "info": $info, "danger": $danger);

$all-colors: map-merge-multiple( $blues, $reds, $oranges, $yellows, $greens, $purples, $teals, $grays, $theme-colors,);
$theme-colors: map-merge-multiple($theme-colors, $all-colors);

@import "../lib/bootstrap/scss/_maps.scss";
@import "../lib/bootstrap/scss/_mixins.scss";
@import "../lib/bootstrap/scss/_root.scss";
@import "../lib/bootstrap/scss/_buttons.scss";
@import "../lib/bootstrap/scss/_utilities.scss";

// uncomment the following line if you want to generate callout coomponents using _callout.scss
//  @import "_callout.scss";


$utilities: map-merge( $utilities, ( "color": map-merge( map-get($utilities, "color"), ( values: map-merge( map-get( map-get( $utilities, "text-color"), "values"), ($theme-colors)) ) ) ) );

$utilities-text-colors: map-merge($utilities-text-colors, $all-colors);

/* Example:
    The following code can be un-commented to customize the creation of some of bootstraps utilities.
    Using the same technique you can customize any of bootstraps utilities.
*/

//@each $color, $value in $theme-colors {
//    .bg-#{$color} {
//        background-color: $value;
//    }

//    .link-#{$color} {
//        color: $value;
//        cursor: pointer;
//        text-decoration: none;
//    }

//    .link-#{$color}:focus,
//    .link-#{$color}:hover {
//        color: color.adjust($value, $hue: 180deg);
//        text-shadow: 0px 0px 3px color.adjust($value, $hue: 180deg);
//    }

//    .text-#{$color} {
//        color: $value;
//    }
//}


// finer grain control for some of bootstrap breakpoints 

@for $i from 1 to 100 {
    .right-#{$i} {
        right: $i * 1%;
    }

    .left-#{$i} {
        left:  $i * 1%;
    }

    .w-#{$i} {
        min-width: #{$i}px;
        max-width: #{$i}px;
    }
}

// must include for generating extra bootstrap colors
$utilities: map-merge( $utilities-colors, ( "link-colors": $utilities-text-colors, "theme-colors": $all-colors ) );

// callout mix-in requires '_callout.scss'
//@include callout-variant($all-colors);
